module.exports = {
  apps: [{
    name: 'devops-api',
    script: '/opt/app/app.js',
    instances: 2,
    exec_mode: 'cluster',
    env: {
      NODE_ENV: 'production',
      PORT: 3000
    }
  }]
};
